html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-image: url("output.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

body{
	margin: 0;
	padding: 0;
	color: #80ffff;
	font-family: sans-serif;
	text-align: justify;
	font-size: 12;
}

p{
	color: black;
}

.btn {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #d54ff7);
  background-image: -moz-linear-gradient(top, #000000, #d54ff7);
  background-image: -ms-linear-gradient(top, #000000, #d54ff7);
  background-image: -o-linear-gradient(top, #000000, #d54ff7);
  background-image: linear-gradient(to bottom, #000000, #d54ff7);
  border-color: cyan;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 2px 2px 0px #4d4a4d;
  -webkit-box-shadow: 0px 1px 1px #424242;
  -moz-box-shadow: 0px 1px 1px #424242;
  box-shadow: 0px 1px 1px #424242;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #d54ff7;
  text-decoration: none;
}

#game{
	position: absolute;
	width: 95vw;
	left: 2.5vw;
	height: auto;
	top: 2.5vw;
	z-index: 1;
}

#go{
	position: relative;
	width: 12vw;
	height: 10vh;
	left: 44vw;
	top: 40vh;
}